<div class="ui segment">
  <div class="ui header">
    <h2 class="content">Instance {{instance.id}}</h2>
    <div class="ui buttons right floated">
      <div class="ui big primary button" (click)="read.emit(instance.id)">
        <i class="icon book"></i>
        Read
      </div>
      <!--<div class="ui big primary icon button">-->
        <!--<i class="icon cloud upload"></i>-->
        <!--Write-->
      <!--</div>-->
      <!--<div class="ui big primary icon button">-->
        <!--<i class="icon thrashcan"></i>-->
        <!--Delete-->
      <!--</div>-->
    </div>
  </div>
  <div class="ui segments">
    <div class="ui horizontal segments" *ngFor="let resource of instance.resources">
      <div class="ui segment middle aligned">
        {{resource.name}}
        <div class="ui buttons right floated">
          <div *ngFor="let permission of getPermissions(resource)"
               class="ui medium button"
               [class.primary]="!resource.value && !resource.error"
               [class.red]="resource.error"
               [class.labeled]="resource.value !== null && resource.value !== undefined"
               (click)="handleAction(permission, resource.id)"
               suiPopup
               popupHeader="{{resource.error || 'Updated at'}}"
               popupText="{{resource.message || (resource.updatedAt | date:'yyyy-MM-dd HH:mm:ss')}}"
               popupTrigger="{{resource.error || resource.updatedAt ? 'hover' : 'manual'}}"
          >
            <div
              class="ui"
              [class.button]="resource.value !== null && resource.value !== undefined"
              [class.red]="resource.error"
              [class.positive]="!resource.error && resource.value !== null && resource.value !== undefined"
              [class.primary]="!resource.error && !resource.value"
            >
              <i class="icon {{getIcon(permission)}}"></i> {{getActionName(permission)}}
            </div>
            <div *ngIf="resource.value !== null && resource.value !== undefined" class="ui label left pointing">{{resource.value | resourceValue:objectId:resource.id}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
