<div class="header">{{ modal.context.title }}</div>
<div class="content">
  <p>{{ modal.context.body }}</p>
  <div class="ui input">
    <input type="text" [(ngModel)]="endpoint"
           placeholder="Device endpoint (unique)"
           (keyup.enter)="approveIfCorrect()"
           autofocus
    >
  </div>
</div>
<div class="actions">
  <div class="ui red button" (click)="modal.deny(undefined)">Cancel</div>
  <div class="ui green button" [class.disabled]="!endpoint.trim()" (click)="modal.approve(endpoint.trim())">OK</div>
</div>
