<div class="ui container">
  <div class="ui top attached recent info message icon" (click)="collapse = !collapse">
    <i class="icon pulse"></i>
    <div class="content">
      <h1 class="ui header">
        Devices location list
      </h1>
    </div>
  </div>
  <div [suiCollapse]="collapse">
    <table class="ui bottom attached files single line unstackable selectable table celled padded">
      <thead>
        <tr>
          <th class="single line">
            IP address
          </th>
          <th>
            Status
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locationService.locations">
          <td>
            <p>{{location.ip}}</p>
          </td>
          <td [class.negative]="location.healthy >= 5" [class.positive]="location.healthy < 5" class="collapsing">
            <p><i *ngIf="location.healthy < 5" class="icon check"></i>{{getStatus(location)}}</p>
          </td>
          <td class="collapsing">
            <div class="ui right floated medium primary labeled icon button">
              <i class="radio tower icon"></i> Connect
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
